<html>
<head>  
    <title>login</title>  
</head>
<body bgcolor="powderblue">
    <center>
    <form method = "post" action = "http://127.0.0.1:5000/success">
        <table>
            <tr><td>Email</td><td><input type = 'email' name = 'email'></td></tr>
            <tr><td>Password</td><td><input type = 'password' name = 'pass'></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>
            </table>
            <h6>do you want to logout<a href= "/signup">signup</a></h6>
             
    
     </form></center>
</body>
</html>

